<div class="container conWidth">
    <h3 style="color: #c65b5b">Add new country</h3>
    <%= form_for @country do |c| %>
    <div class="form-group">
        <%= c.text_field :name, placeholder: "name" %>
        <%= c.text_field :capital, placeholder: "capital" %>
        <%= c.text_field :language, placeholder: "language" %>
        <%= c.text_field :area, placeholder: "area" %>
        <%= c.text_field :population, placeholder: "population" %>
        <span class="btn btn-default">
            Upload Photo
            <%= file_field_tag "images[]", type: :file, multiple: true %>
        </span>
    </div>
    <br>
    <%= c.submit "Add", class: "btn btn-success"%>
    <% end %>
</div>
