<div class="container">
    <div class="row">
        <div class="col-md-6 margin_show">
            <h2><%= @country.name %></h2>
            <br>
            <p><%= image_tag @country.flag %></p>
            <br>
            <h4>Area:
                <%= @country.area %></h4>
            <h4>Population:
                <%= @country.population %></h4>
            <h4>Language:
                <%= @country.language %></h4>
            <h4>Capital:
                <%= @country.capital %></h4>
            <p><%= link_to 'Delete' , country_path(@country.id), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete the country?" } %></p>
        </div>
        <div class="col-md-6">
            <h3>Big cities</h3>
            <% @country.cities.each do |c| %>
            <br>
            <p>Name:
                <%= c.name%></p>
            <%= link_to 'X', country_city_path(@country.id, c.id), class: "btn-sm btn-danger", style: "float: right", method: :delete, data: { confirm: "Are you sure you want to delete the city?" } %>
            <p>Population:
                <%= c.population %></p>
            <br>
            <div class="margin_show">
                <p><%= image_tag c.photo, class: "img-thumbnail img-responsive"  %></p>
            </div>
            <% end %>
        </div>
    </div>
    <h3 style="color: #c65b5b">Add new city</h3>
      <%= render "cities/form" %>
</div>
